<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div th:align="center">
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name"><b>Name</b></label>
    <input name="name" th:field="*{name}" id="name"/>
    <br>
    <label for="surname"><b>Surname</b></label>
    <input name="surname" th:field="*{surname}" id="surname"/>
    <br>
    <label for="age"><b>Age</b></label>
    <input name="age" th:field="*{age}" id="age"/>
    <br>
    <label for="username"><b>Username</b></label>
    <input name="username" th:field="*{username}" id="username"/>
    <br>
    <label for="password"><b>Password</b></label>
    <input name="password" th:field="*{password}" id="password"/>
    <br>
    <label for="role"><b>Role</b></label>
    <select name="my_role" id="role">
        <option>USER</option>
        <option>ADMIN</option>
    </select>
    <br>
    <input type="submit" value="Add User"/>
</form>
</div>
</body>
</html>